p {
    font-size: 16px;
}

.whitecollar {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 75px;
    text-shadow: 2px 2px #0EC3FF;
}

.movie {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
    font-size: 75px;
    
}

.sum {
    width: 500px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-size: 20px;
}



#neal {
    border: 1px solid #0EC3FF;
    padding: 3px;
    float: left;
    position: relative;
    top: 100px;
}
#neal {
      background:grey;
      animation: neal 2.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0s 1 normal;
      -webkit-animation: neal 2.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0s 1 normal;

    }
    @keyframes neal {
      from {left: 700px;}
      to {left: 0px;}
    }
    @-webkit-keyframes neal {
      from {left: 700px;}
      to {left: 0px;}
    }

#peter {
    border: 1px solid #0EC3FF;
    padding: 3px;
    float: right;
    position: relative;
    top: 100px;
}

#peter {
      background: grey;
      animation: peter 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0s 1 normal;
      -webkit-animation: peter 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0s 1 normal;

    }
    @keyframes peter {
      from {left: -700px;}
      to {left: 0px;}
    }
    @-webkit-keyframes peter {
      from {left: -700px;}
      to {left: 0px;}
    }
#title {
    text-align: center;
}

#critics {
    display: inline;
    font-family: 'Anton', sans-serif;
    color: #0EC3FF;
    font-size: 40px;
    text-align: center;
}

#NYT {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Huff {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#NYP {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#HSTAT {
    width: 450px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 18px;
}

input {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    display: block;
}

#signup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 20px;
  
}

.submit {
    background-color: #0EC3FF;
    display: block;
    font-size: 18px
}
#background{
  
    background: linear-gradient(to top, #0EC3FF, white); /* Standard syntax (must be last) */
}